# A bit more on data Wrangling with Pandas

In [1]:
from IPython.display import display, HTML
import pandas as pd

# Merging Frames in Pandas

"pandas has full-featured, high performance in-memory join operations idiomatically very similar to relational databases like SQL. These methods perform significantly better (in some cases well over an order of magnitude better) than other open source implementations (like base::merge.data.frame in R). The reason for this is careful algorithmic design and internal layout of the data in DataFrame." (http://pandas.pydata.org/pandas-docs/stable/merging.html)

Let's start be creating three data frames that we will use to demonstrate pandas merging

## The four types of merges

Merging in Pandas is similar to Joins in database work.

Mirroring those options for joining data, the pandas options for merging are 1) inner, 2) left, 3) right and 4) outer. 

By default, Pandas merge does an inner join - but, you can specify any of the four merges explicityly.

### Inner Join

#### when we have a shared key name

With a shared key name, pandard will do a "one to many" merge on any common key names

In [2]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'a', 'a'], 'data2': range(3)})

display(df1, df2)

   data1 key
0      0   a
1      1   b
2      2   c
3      3   d
4      4   e
5      5   f
6      6   a

   data2 key
0      0   a
1      1   a
2      2   a

In [3]:
pd.merge(df1,df2)

   data1 key  data2
0      0   a      0
1      0   a      1
2      0   a      2
3      6   a      0
4      6   a      1
5      6   a      2

In [4]:
pd.merge(df2,df1)

   data2 key  data1
0      0   a      0
1      0   a      6
2      1   a      0
3      1   a      6
4      2   a      0
5      2   a      6

#### ... when we don't have a common key

In [5]:
df1 = pd.DataFrame({'key1': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 'data1': range(7)})
df2 = pd.DataFrame({'key2': ['a', 'a', 'a'], 'data2': range(3)})
display(df1, df2)

   data1 key1
0      0    a
1      1    b
2      2    c
3      3    d
4      4    e
5      5    f
6      6    a

   data2 key2
0      0    a
1      1    a
2      2    a

In [6]:
pd.merge(df1,df2, left_on='key1', right_on='key2')

   data1 key1  data2 key2
0      0    a      0    a
1      0    a      1    a
2      0    a      2    a
3      6    a      0    a
4      6    a      1    a
5      6    a      2    a

In [7]:
pd.merge(df2,df1, left_on='key2', right_on='key1')

   data2 key2  data1 key1
0      0    a      0    a
1      0    a      6    a
2      1    a      0    a
3      1    a      6    a
4      2    a      0    a
5      2    a      6    a

#### Good practice is to explicitleyexplicitly state the key even when it is shared 

Also, this is necessary when you have two shared key names, but wish to join on only one of them

In [8]:
df1 = pd.DataFrame({'key1': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 'data': range(7)})
df2 = pd.DataFrame({'key2': ['a', 'a', 'a'], 'data': range(3)})
display(df1, df2)

   data key1
0     0    a
1     1    b
2     2    c
3     3    d
4     4    e
5     5    f
6     6    a

   data key2
0     0    a
1     1    a
2     2    a

In [9]:
pd.merge(df1,df2, left_on='key1', right_on='key2')

   data_x key1  data_y key2
0       0    a       0    a
1       0    a       1    a
2       0    a       2    a
3       6    a       0    a
4       6    a       1    a
5       6    a       2    a


## Other Joins

In [10]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'a', 'a', 'g'], 'data2': range(4)})

display(df1, df2)

   data1 key
0      0   a
1      1   b
2      2   c
3      3   d
4      4   e
5      5   f
6      6   a

   data2 key
0      0   a
1      1   a
2      2   a
3      3   g

In [11]:
### Left Join

In [12]:
pd.merge(df1, df2, how='left')

    data1 key  data2
0       0   a    0.0
1       0   a    1.0
2       0   a    2.0
3       1   b    NaN
4       2   c    NaN
5       3   d    NaN
6       4   e    NaN
7       5   f    NaN
8       6   a    0.0
9       6   a    1.0
10      6   a    2.0

In [13]:
### Right Join

In [14]:
pd.merge(df1, df2, how='right')

   data1 key  data2
0    0.0   a      0
1    6.0   a      0
2    0.0   a      1
3    6.0   a      1
4    0.0   a      2
5    6.0   a      2
6    NaN   g      3

In [15]:
### Outer Join

In [16]:
pd.merge(df1, df2, how='outer')

    data1 key  data2
0     0.0   a    0.0
1     0.0   a    1.0
2     0.0   a    2.0
3     6.0   a    0.0
4     6.0   a    1.0
5     6.0   a    2.0
6     1.0   b    NaN
7     2.0   c    NaN
8     3.0   d    NaN
9     4.0   e    NaN
10    5.0   f    NaN
11    NaN   g    3.0

## Concatenation of DataFrames

In [17]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'a', 'a', 'g'], 'data2': range(4)})

display(df1, df2)

   data1 key
0      0   a
1      1   b
2      2   c
3      3   d
4      4   e
5      5   f
6      6   a

   data2 key
0      0   a
1      1   a
2      2   a
3      3   g

In [18]:
pd.concat([df1,df2], axis=0)

   data1  data2 key
0    0.0    NaN   a
1    1.0    NaN   b
2    2.0    NaN   c
3    3.0    NaN   d
4    4.0    NaN   e
5    5.0    NaN   f
6    6.0    NaN   a
0    NaN    0.0   a
1    NaN    1.0   a
2    NaN    2.0   a
3    NaN    3.0   g

In [19]:
pd.concat([df1,df2], axis=1)

   data1 key  data2  key
0      0   a    0.0    a
1      1   b    1.0    a
2      2   c    2.0    a
3      3   d    3.0    g
4      4   e    NaN  NaN
5      5   f    NaN  NaN
6      6   a    NaN  NaN

## Appending of DataFrames

In [20]:
df1 = pd.DataFrame({'key': ['a', 'b', 'c', 'd', 'e', 'f', 'a'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'a', 'a', 'g'], 'data2': range(4)})

display(df1, df2)

   data1 key
0      0   a
1      1   b
2      2   c
3      3   d
4      4   e
5      5   f
6      6   a

   data2 key
0      0   a
1      1   a
2      2   a
3      3   g

In [21]:
df1.append(df2)

   data1  data2 key
0    0.0    NaN   a
1    1.0    NaN   b
2    2.0    NaN   c
3    3.0    NaN   d
4    4.0    NaN   e
5    5.0    NaN   f
6    6.0    NaN   a
0    NaN    0.0   a
1    NaN    1.0   a
2    NaN    2.0   a
3    NaN    3.0   g

... note the append is the same as the concatenate on axis=0

# Example of an Outer Merge (Join)

In [22]:

df1 = pd.DataFrame({'Uni': ['u1', 'u2', 'u4', 'u5'],
                    'Score1': ['1', '2', '3', '4'],
                    'Score2': ['2', '1', '4', '3'],})
                    
df2 = pd.DataFrame({'Uni': ['u1', 'u3', 'u4', 'u6'],
                    'Score1': ['1', '4', '3', '2'],
                    'Score2': ['2', '4', '3', '1'],})

In [23]:
import pandas as pd

def gen_colnames(prepend, df):
    colnames = []
    for colname in df.columns:
        if colname != 'Uni':
            colnames.append(prepend+colname)
        else:
            colnames.append(colname)
    return colnames

In [24]:
old_colnames = df1.columns
new_colnames =  gen_colnames('SOC.', df1)
df1.rename(columns=dict(zip(old_colnames, new_colnames)), inplace=True)

old_colnames = df2.columns
new_colnames =  gen_colnames('ENG.', df2)
df2.rename(columns=dict(zip(old_colnames, new_colnames)), inplace=True)

df = pd.merge(df1, df2, how="outer")
df

  SOC.Score1 SOC.Score2 Uni ENG.Score1 ENG.Score2
0          1          2  u1          1          2
1          2          1  u2        NaN        NaN
2          3          4  u4          3          3
3          4          3  u5        NaN        NaN
4        NaN        NaN  u3          4          4
5        NaN        NaN  u6          2          1

In [25]:
df.sort_values('Uni', inplace=True)

In [26]:
df.set_index('Uni', inplace=True)

In [42]:
df

    SOC.Score1 SOC.Score2 ENG.Score1 ENG.Score2
Uni
u1           1          2          1          2
u2           2          1        NaN        NaN
u3         NaN        NaN          4          4
u4           3          4          3          3
u5           4          3        NaN        NaN
u6         NaN        NaN          2          1

In [48]:
df[0:]

    SOC.Score1 SOC.Score2 ENG.Score1 ENG.Score2
Uni
u1           1          2          1          2
u2           2          1        NaN        NaN
u3         NaN        NaN          4          4
u4           3          4          3          3
u5           4          3        NaN        NaN
u6         NaN        NaN          2          1

In [56]:
df[:2][0:1]

    SOC.Score1 SOC.Score2 ENG.Score1 ENG.Score2
Uni
u1           1          2          1          2

In [29]:
df[1:3]

    SOC.Score1 SOC.Score2 ENG.Score1 ENG.Score2
Uni
u2           2          1        NaN        NaN
u3         NaN        NaN          4          4

In [27]:
df[['SOC.Score1', 'SOC.Score2']]

    SOC.Score1 SOC.Score2
Uni
u1           1          2
u2           2          1
u3         NaN        NaN
u4           3          4
u5           4          3
u6         NaN        NaN

In [30]:
df[['SOC.Score1', 'SOC.Score2']][1:3]

    SOC.Score1 SOC.Score2
Uni
u2           2          1
u3         NaN        NaN

In [59]:
df[['SOC.Score1']]

    SOC.Score1
Uni
u1           1
u2           2
u3         NaN
u4           3
u5           4
u6         NaN

In [37]:
df['SOC.Score1']['u2']

'2'

In [39]:
df['SOC.Score1'][1]

'2'

In [60]:
df['SOC.Score1']['u1']

'1'

In [61]:
df['SOC.Score1'][0]

'1'

In [62]:
print(df)

    SOC.Score1 SOC.Score2 ENG.Score1 ENG.Score2
Uni
u1           1          2          1          2
u2           2          1        NaN        NaN
u3         NaN        NaN          4          4
u4           3          4          3          3
u5           4          3        NaN        NaN
u6         NaN        NaN          2          1

## Appendix

For complete overview of Pandas DataFrame merging, refer to the Pandas documentation here (http://pandas.pydata.org/pandas-docs/stable/merging.html)